<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    {{> eypdfgen/partials_v2/style}}
    <title>{{ tittel }}</title>
</head>
<body>

<div id="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}"/>

    <h1 class="title">
        {{ tittel }}
    </h1>
</div>

<div class="container">
    {{#with this.payload}}
        {{> notat/klageblankett/informasjon this}}

        {{> notat/klageblankett/formkrav this}}

        {{> notat/klageblankett/vurdering this}}
    {{/with}}
</div>

</body>
</html>
