<div class="row">
    <h2>Informasjon til deg som handler på vegne av barnet</h2>

    <h3>Meld fra om endringer</h3>

    <p class="paragraph-after-h">
        Du må melde fra med en gang det skjer viktige endringer i livet til barnet, som
    </p>

    <ul>
        <li>endringer av nåværende familie- eller omsorgsforhold</li>
        <li>flytting eller opphold i et annet land over tid</li>
        <li>varig opphold i institusjon</li>
    </ul>

    <p>
        Du er ansvarlig for å holde deg orientert om bevegelser på kontoen for utbetaling av barnepensjon,
        og du må straks melde fra om eventuelle feil til NAV. Er det utbetalt for mye barnepensjon fordi NAV ikke
        har fått beskjed, må pengene vanligvis betales tilbake.
    </p>
</div>
