<div class="row">
    <h2>
        Vedtak
    </h2>

    <p class="paragraph-after-h">
       Vi har revurdert ytelsen din på grunn av {{revurderingsaarsak}}.
    </p>

    <h3>
        Utbetaling
    </h3>

    <p class="paragraph-after-h">
        Pensjonen blir utbetalt innen den 20. hver måned.
        Du finner oversikt over utbetalingsdatoene på nav.no/utbetalinger.
    </p>

    <p>Etterbetaling av pensjon vil vanligvis bli utbetalt i løpet av tre uker.</p>
</div>
