<div class="row">
    <h3>
        Du har rett til innsyn
    </h3>

    <p class="paragraph-after-h">
        Du har rett til å se dokumentene i saken din. I vedlegget får du vite hvordan du går fram.
    </p>
</div>
