<div class="row">
    <h3>
        Du har rett til innsyn
    </h3>

    <p class="paragraph-after-h">
        Du har som hovedregel rett til å se dokumentene i saken din etter bestemmelsene i forvaltningsloven § 18. Hvis
        du ønsker innsyn, må du kontakte oss på telefon eller per post.
    </p>
</div>
