<div class="row">
    <h2>
        Vedtak
    </h2>

    <p class="paragraph-after-h">
        Du er innvilget barnepensjon fra {{iso_to_date utbetalingsinfo.virkningsdato}} fordi
        {{avdoed.navn}} er registrert død {{iso_to_date avdoed.doedsdato}}.
        Du får {{utbetalingsinfo.beloep}} kroner hver måned før skatt.
        Barnepensjonen utbetales til og med den kalendermåneden du fyller 18 år.
        Vedtaket er gjort etter folketrygdloven kapittel 18 og 22.
    </p>

    <h3>
        Utbetaling
    </h3>

    <p class="paragraph-after-h">
        Pensjonen blir utbetalt innen den 20. hver måned.
        Du finner oversikt over utbetalingsdatoene på nav.no/utbetalinger.
    </p>

    <p>Etterbetaling av pensjon vil vanligvis bli utbetalt i løpet av tre uker.</p>
</div>
