<div class="row">
    <h2>
        Vedtak
    </h2>

    <p>
        Du får {{utbetalingsinfo.beloep}} kroner hver måned før skatt fra {{iso_to_date utbetalingsinfo.virkningsdato}}
        fordi {{avdoed.navn}} døde {{iso_to_date avdoed.doedsdato}}.
    </p>

    <p>
        Barnepensjonen utbetales til og med den kalendermåneden du fyller 18 år.
    </p>

    <p>
        Vedtaket er gjort etter folketrygdloven kapittel 18 og 22.
    </p>

    <p>
        Pensjonen blir utbetalt innen den 20. hver måned.
        Du finner oversikt over utbetalingsdatoene på
        <a href="https://www.nav.no/utbetalinger">nav.no/utbetalinger</a>.
    </p>
</div>
