<div class="row">
    <h2>Endring av kontonummer</h2>

    <p>
        Ved endring av kontonummer for utbetaling av barnepensjon til barn under 18 år, kan du som forelder sende melding
        via <a href="https://www.nav.no/skrivtiloss">www.nav.no/skrivtiloss</a> eller sende skjema for melding om nytt
        kontonummer pr post. Du må da legge ved kopi av gyldig legitimasjon.
    </p>

    <p>
        Oppnevnt verge må melde om endring via post. Det må legges ved kopi av egen legitimasjon og vergefullmakt.
    </p>

    <p>
        Du finner mer informasjon og lenke til riktig skjema på <a href="https://www.nav.no/kontonummer">nav.no/kontonummer</a>.
    </p>
</div>
