<div class="row">
    <h3>Endring av kontonummer</h3>

    <p class="paragraph-after-h">
        Ved endring av kontonummer for utbetaling av barnepensjon til barn under 18 år, kan du som forelder sende melding
        via nav.no/skrivtiloss eller sende skjema for melding om nytt
        kontonummer per post. Du må da legge ved kopi av gyldig legitimasjon.
    </p>

    <p>
        Oppnevnt verge må melde om endring via post. Det må legges ved kopi av egen legitimasjon og vergefullmakt.
    </p>

    <p>
        Du finner mer informasjon og lenke til riktig skjema på nav.no/kontonummer.
    </p>
</div>
