<div class="row">
    <table class="signatur">
        <tbody>
        <tr>
            <td>
                Med vennlig hilsen
            </td>
            <td />
        </tr>
        <tr>
            <td>
                {{attestant.navn}}
            </td>
            <td>
                {{avsender.saksbehandler}}
            </td>
        </tr>
        <tr>
            <td>
                {{attestant.kontor}}
            </td>
            <td>
                {{avsender.kontor}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
