<div class="row">
    <h3>Skattetrekk på barnepensjon</h3>

    <p class="paragraph-after-h">
        Barnepensjon er skattepliktig, men vi trekker ikke skatt for inneværende år uten å få beskjed om dette. Du kan
        lese mer om frivillig skattetrekk på nav.no/skattetrekk#skatt-pengestotte.
    </p>

    <p>
        Ved etterbetaling som gjelder tidligere år trekker NAV skatt etter Skatteetatens standardsatser. Du kan lese mer
        om satsene på nav.no/skattetrekk#etterbetaling.
    </p>
</div>