<div class="row">
    <h2>Skattetrekk på barnepensjon</h2>

    <p>
        Barnepensjon er skattepliktig, men vi trekker ikke skatt uten å få beskjed om dette. Du kan lese mer om
        skattetrekk <a href="https://www.nav.no/skattetrekk#skatt-pengestotte">nav.no/skattetrekk#skatt-pengestotte</a>.
    </p>
</div>