<div class="row">
    <h3>Skattetrekk på barnepensjon</h3>

    <p class="paragraph-after-h">
        Barnepensjon er skattepliktig, men vi trekker ikke skatt uten å få beskjed om dette. Du kan lese mer om
        skattetrekk nav.no/skattetrekk#skatt-pengestotte.
    </p>
</div>