<div class="row">
    <h3>
        Har du spørsmål?
    </h3>

    <p class="paragraph-after-h">
        Kontakt oss gjerne på nav.no eller på telefon 55 55 33 34. Om du oppgir fødselsnummer til den saken gjelder,
        kan vi lettere gi deg rask og god hjelp.
    </p>
</div>
