<div>
    {{#if soeker.arbeidOgUtdanning.arbeidssoeker.svar}}
        <div>
            <h4>
                {{#eq spraak "en"}}
                    Job seeker
                {{else}}
                    {{#eq spraak "nn"}}
                        Arbeidssøkjar
                    {{else}}
                        Arbeidssøker
                    {{/eq}}
                {{/eq}}
            </h4>
            {{#with soeker.arbeidOgUtdanning.arbeidssoeker.svar as | arbeidssoeker |}}
                <div>
                    {{> eypdfgen/partials_v2/common/opplysning arbeidssoeker.registrertArbeidssoeker}}

                    {{#eq arbeidssoeker.registrertArbeidssoeker.svar.verdi "JA" }}
                        {{> eypdfgen/partials_v2/common/opplysning arbeidssoeker.aktivitetsplan}}
                    {{/eq}}
                </div>
            {{/with}}
        </div>
    {{/if}}

</div>
