<h4>
    {{#eq spraak "en"}}
        Childcare
    {{else}}
        {{#eq spraak "nn"}}
            Omsorg for barn
        {{else}}
            Omsorg for barn
        {{/eq}}
    {{/eq}}
</h4>

{{> eypdfgen/partials_v2/common/opplysning this.omsorgForBarn}}

{{> eypdfgen/partials_v2/common/opplysning this.uregistrertEllerVenterBarn}}
