<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8" />
    {{> eypdfgen/partials_v2/style}}
    <title>OMS SØKNAD TITTEL</title>
</head>
<body>

<div id="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}" />

    <h1 class="title">
        Søknad om omstillingsstønad (TEST)
    </h1>
</div>

<div class="container">
    {{> eypdfgen/partials_v2/common/innsender this}}
    {{> eypdfgen/partials_v2/common/utbetalingsinformasjon/utbetalingsinformasjon this.utbetalingsInformasjon}}
    {{> eypdfgen/partials_v2/omstillingsstoenad/gjenlevende/gjenlevende this.soeker}}
    {{> eypdfgen/partials_v2/common/avdoed/avdoed this.avdoed}}
    {{> eypdfgen/partials_v2/omstillingsstoenad/informasjonOmBarn this}}
    {{#if this.andreStoenader}}
        {{> eypdfgen/partials_v2/gjenlevendepensjon/andreStoenader this.andreStoenader}}
    {{/if}}
</div>

{{> eypdfgen/partials_v2/footer this}}

</body>
</html>
